.flex-landing-page {
  display: flex;
  justify-content: space-between;
}


.container-landing-page {
  margin: 5% 13%;
  h2 {
    font-size: 18px;
    color: #FF9292;
    font-weight: bold;
  }
  p {
    font-size: 15px;
  }
}

.button {
  padding: 5px 20px;
  margin-top: 5px;
  background: #FF9292;
  color: white;
  border-radius: 3px;
}
