<h2 class="h2-big">Welcome,<strong><%= @user.first_name %></strong> here are your Bookings</h2>

<ul>
  <% @bookings.each do |booking| %>
    <li> <%= booking.item.name %> | <%= booking.start_date %></li>
  <% end %>
</ul>

