
<!-- new -->
<div class="container">
  <div class="row">
    <h2>My bookings</h2>

    <% @bookings.each do |booking| %>
    <div class="col-xs-6 col-sm-3">
      <%= link_to item_booking_path(booking.item, booking)  do %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_tag = booking.item.photo %>');">
          <div class="card-category"></div>
          <div class="card-description">
              From <%= booking.start_date.strftime("%d/%m") %> to <%= booking.end_date.strftime("%d/%m") %>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

