<div class="container">

  <% @bookings.each do |booking| %>
  <div class="flexbox-booking">
    <div class="card">
      <div class="card image-item-show-page" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path booking.item.photo %>');">
      <%= link_to item_booking_path(booking.item, booking)  do %>
        <%= booking.item.name %>
        <%= booking.start_date.strftime("%d/%m/%Y") %>
      <% end %>
      </div>
    </div>
  <% end %>
  </div>
</div>
