<h1>Dashboard</h1>

<div class="users_dashboard">
  <h1>User</h1>
  <h1>Lister</h1>
</div>


<div class="refer_a_friend">
  <h3>refer a friend text and button</h3>
</div>

<div class="dashboard_notifications">
  <h2>Notifications</h2>
</div>


<div>
  <h2>Activity overview</h2>
  <p>Revenues: "May"</p>
  <p>Listing reviewed/30 days: "50"</p>
  <p>Overall rating: "4.5*"</p>
  <p>Total reviews: "22"</p>
  <p>5 star reviews: "80%"</p>
</div>

<div>
  <h2>Share your passion for renting</h2>
  <p>Refer a friend and get £45 when they rent there first item</p>
  <span>Refer a friend button</span>
</div>
