<div class="container-landing-page">
  <h1>Welcome <%= current_user.first_name %></h1>

  <div class ="flex-landing-page">
    <div>
      <h2>What would you like to do?</h2>
      <p>view all listings</p>
      <p>current orders</p>
      <p>order history</p>
      <p>ID verification</p>
    </div>


    <div class="activity_overview">
      <div>
        <h2>Activity overview</h2>
        <p>Revenues: "May"</p>
        <p>Listing reviewed/30 days: "50"</p>
        <p>Overall rating: "4.5*"</p>
        <p>Total reviews: "22"</p>
        <p>5 star reviews: "80%"</p>
      </div>

      <div>
        <h2>Share your passion for renting</h2>
        <p>Refer a friend and get £45 when they rent there first item</p>
        <span class="button">Refer a friend</span>
      </div>
    </div>
  </div>
</div>
