<!-- Landing Page -->


  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), url('https://images.pexels.com/photos/114820/pexels-photo-114820.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
    <div class="banner-content">
      <h1>UFO Brands</h1>
      <p>Change your extra space for extra cash</p>
      <a class="btn btn-primary btn-sm">Start now</a>
    </div>
  </div>



<div class="container">

  <div class="row">
    <h2>Just In</h2>
    <div class="col-xs-12 col-sm-3">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
            <h2>Le Wagon Shanghai</h2>
            <p>Very cool city, the best</p>
        </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <a class="card-link" href="#" ></a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
            <h2>Le Wagon Shanghai</h2>
            <p>Very cool city, the best</p>
        </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <a class="card-link" href="#" ></a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
            <h2>Le Wagon Shanghai</h2>
            <p>Very cool city, the best</p>
        </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <a class="card-link" href="#" ></a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
            <h2>Le Wagon Shanghai</h2>
            <p>Very cool city, the best</p>
        </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <a class="card-link" href="#" ></a>
        </div>
    </div>
  </div>
  <div class="row">
    <h2>Most Popular</h2>
    <div class="col-xs-12 col-sm-3">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
            <h2>Le Wagon Shanghai</h2>
            <p>Very cool city, the best</p>
        </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <a class="card-link" href="#" ></a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
            <h2>Le Wagon Shanghai</h2>
            <p>Very cool city, the best</p>
        </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <a class="card-link" href="#" ></a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
            <h2>Le Wagon Shanghai</h2>
            <p>Very cool city, the best</p>
        </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <a class="card-link" href="#" ></a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
            <h2>Le Wagon Shanghai</h2>
            <p>Very cool city, the best</p>
        </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <a class="card-link" href="#" ></a>
        </div>
    </div>
  </div>

    <h2>Top Influencer's</h2>
      <div class="influencer-align">
        <!-- insert <div class="card"> -->
       <div class="influencer-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <div class="influencer-card-category">Popular</div>
          <div class="influencer-card-description">
              <h2>Le Wagon Shanghai</h2>
              <p>Very cool city, the best</p>
          </div>
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
              <a class="card-link" href="#" ></a>
        </div>
        <!-- insert <div class="card"> -->
        <div class="influencer-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <div class="influencer-card-category">Popular</div>
          <div class="influencer-card-description">
              <h2>Le Wagon Shanghai</h2>
              <p>Very cool city, the best</p>
          </div>
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
              <a class="card-link" href="#" ></a>
        </div>
        <!-- insert <div class="card"> -->
        <div class="influencer-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <div class="influencer-card-category">Popular</div>
          <div class="influencer-card-description">
              <h2>Le Wagon Shanghai</h2>
              <p>Very cool city, the best</p>
          </div>
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
              <a class="card-link" href="#" ></a>
        </div>
        <!-- insert <div class="card"> -->
        <div class="influencer-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <div class="influencer-card-category">Popular</div>
          <div class="influencer-card-description">
              <h2>Le Wagon Shanghai</h2>
              <p>Very cool city, the best</p>
          </div>
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
              <a class="card-link" href="#" ></a>
        </div>
        <!-- insert <div class="card"> -->
        <div class="influencer-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <div class="influencer-card-category">Popular</div>
          <div class="influencer-card-description">
              <h2>Le Wagon Shanghai</h2>
              <p>Very cool city, the best</p>
          </div>
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
              <a class="card-link" href="#" ></a>
        </div>
      </div>

  <div class="info-banner">
    <div class="info-header">
      <h2>Find Out How Much your could earn uploading your items</h2>
    </div>
  </div>

  <div class="row">
    <h2>Most Popular Groups</h2>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="group-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
            <h2>Le Wagon Shanghai</h2>
            <p>Very cool city, the best</p>
        </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <a class="card-link" href="#" ></a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="group-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
            <h2>Le Wagon Shanghai</h2>
            <p>Very cool city, the best</p>
        </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <a class="card-link" href="#" ></a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="group-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
            <h2>Le Wagon Shanghai</h2>
            <p>Very cool city, the best</p>
        </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <a class="card-link" href="#" ></a>
        </div>
    </div>
  </div>

  <div class="info-banner">
    <div class="info-header">
      <h2>How it Works</h2>
  </div>

  </div>
</div>
