/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
 	margin: 0;
 	text-align: center;
 	color: white;
 	border-color: transparent;
	font-family: 'Heebo', sans-serif;
	font-weight: lighter;
	letter-spacing: 2px;
 	padding-bottom: 10px;
} 

.alert-info {
  background: #42CE81;
}
.alert-warning {
  background: $red;
}
