.banner {
  color: white;
  text-align: center;
  height: 60vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-banner {
  color: white;
  height: 60vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  border-color: #e5e9f2;
  margin: 10px 0px 10px 0px;
}

.banner h1 {
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 15px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
