// /* DEMO-SPECIFIC STYLES */
// .typewriter h1 {
//   color: #fff;
//   font-family: monospace;
//   overflow: hidden; /* Ensures the content is not revealed until the animation */
//   border-right: .15em solid orange; /* The typwriter cursor */
//   white-space: nowrap; /* Keeps the content on a single line */
//   margin: 0 auto; /* Gives that scrolling effect as the typing happens */
//   letter-spacing: .15em; /* Adjust as needed */
//   animation:
//     typing 2.5s steps(10, end),
//     blink-caret .9s step-end infinite;
// }

// /* The typing effect */
// @keyframes typing {
//   from { width: 0 }
//   to { width: 100% }
// }

// /* The typewriter cursor effect */
// @keyframes blink-caret {
//   from, to { border-color: transparent }
//   50% { border-color: #FF99B9 }
// }

#text-in-banner{
  font-size: 36px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: #FF99B9;
  font-family: 'Heebo', sans-serif;
  margin-bottom: 32px;
}


.banner {
  color: white;
  text-align: center;
  height: 60vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  .form-inline {
    .form-control {
      background-color: transparent;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #fff9;
      color: white;
      &:focus {
        box-shadow: none;
      }
    }
  }
}

.info-banner {
  color: white;
  height: 60vh;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  border-color: #e5e9f2;
  margin: 10px 0px 10px 0px;
}

.info-banner-picture{
  height: 200px;
  width: 320px;
  border-radius: 3px;
  margin: 0px 80px 0 40px;
}

.info-text{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2c302e;
  font-weight: bold;
  font-size: 10px;
  margin: 0px 40px 0px 80px;
}

.info-text h3{
  min-width: 450px;
  font-size: 16px;
  margin: 0px 15px 0px 0px;
}

.info-text h4{
  font-size: 14px;
  color: #bfc3c7;
  margin-top: 5px
}

.banner h1 {
  font-size: 36px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: #FF99B9;
  font-family: 'Heebo', sans-serif;
  margin-bottom: 40px;
}
.banner p {
  font-size: 15px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
  font-family: 'Heebo', sans-serif;
}

#banner-typed-text{
  font-size: 36px;
  font-weight: normal;
}
