.listing-status {
  display: flex;
  align-items: center;
}

.listing-status-items {
  padding: 2px 0px;
}

.grey {
  color: lightgrey;
}

.orange {
  background: orange;
  color: white;
  border-radius: 3px;
  padding: 2px 8px;
  margin-left: 10px;
}

.green {
  background: green;
  color: white;
  border-radius: 3px;
  padding: 2px 8px;
  margin-left: 10px;
}

.red {
  background: red;
  color: white;
  border-radius: 3px;
  padding: 2px 8px;
  margin-left: 10px;
}

.card-description-edit-delete {
  display: flex;
  vertical-align: middle;
  justify-content: space-between;
}

.card-description {
  margin: 10px 0px;
}

.margin-of-card-edit {
  margin: 0px 0px;
  padding: 0px 2px;
  vertical-align: middle;
}

.name-and-rating {
  display: flex;
  justify-content: space-between;
}

.edit-and-calendar {
  display: flex;
  align-items: center;
  padding: 5px 0px;
 }

.name-and-dates {
  h3 {
    margin: 0px 0px;
  }
  p {
   margin: 5px 0px;
  }
}

.btn-xs {
  background: #2F3030;
  color: white;
  padding: 2px 8px;
  font-size: 14px;
  border-radius: 3px;
  border: none;
}
