.listing-status {
  display: flex;
  align-items: center;
}

.listing-status-items {
  padding: 2px 0px;
}

.grey {
  color: lightgrey;
}

.orange {
  background: orange;
  color: white;
  border-radius: 3px;
  padding: 2px 8px;
  margin-left: 10px;
}

.user-listings-card{
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 8px;
  padding: 10px 5px 10px 5px;
  transition: .3s;
  border-style: solid;
  border-width: 1px;
  border-color: #f2f2f2;
  border-radius: 4px;
  width: 195px;
  height: 290px;
}


.green {
  background: green;
  color: white;
  border-radius: 3px;
  padding: 2px 8px;
  margin-left: 10px;
}

.card.mw{
  border-width: 1px;
  border-color: #eeeeee;
  border-style: solid;
  padding: 10px;
}

.red {
  background: red;
  color: white;
  border-radius: 3px;
  padding: 2px 8px;
  margin-left: 10px;
}

.card-description-edit-delete {
  display: flex;
  vertical-align: middle;
  justify-content: space-between;
}

.card-description {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
}

.margin-of-card-edit {
  margin: 5px 0px;
  vertical-align: middle;
}

.name-and-rating {
  display: flex;
  justify-content: space-between;
}

.edit-and-calendar {
  display: flex;
  align-items: center;
  padding: 5px 0px;
 }

.name-and-dates {
  h3 {
    margin: 0px 0px;
  }
  p {
   margin: 5px 0px;
  }
}

.btn-xs {
  background: #2F3030;
  color: white;
  padding: 2px 8px;
  font-size: 14px;
  border-radius: 3px;
  border: none;
}

.avatar-item-booked {
  border-radius: 3px;
}

.back-btn {
  padding: 5px 10px;
  color: white;
  background: #2F3030;
  text-decoration: none;
  border-radius: 3px;
}

.back-btn:hover {
  padding: 5px 10px;
  color: white;
  background: #616667;
  text-decoration: none;
}

.owner-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.owner-page {
  display: flex;
  height: 50px;
  h1 {
    margin: 0px 0px;
  }
}

.owner-page-link {
  display: flex;
  vertical-align: middle;
  a {
    margin: 18px 10px;
    padding: 0px 0px;
  }
}

.item-description-booking {
  display:flex;
}

.remove-box-booking {
  outline: none !important;
  box-shadow: none !important;
  background: white !important;
  border: none !important;
  color: #D3D3D4;
  padding: 5px 2px;
}

.booking-item-name {
  margin: 15px 0px;
  h1 {
    margin: 0px;
  }
}

.booking-description {
  width: 100%;
}

.user-listing-product-name{
}
