.input-btn{
	border-radius: 5px;
	background-color: white;
	color: black;
	height: 40px;
	width: 95px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: lighter;
	letter-spacing: 2px;
	opacity: 0.8;
	border-line: solid;
	border-color: black;
	margin-left: 10px;
}

.input-btn-ontop{
	border-radius: 5px;
	background-color: white;
	color: black;
	height: 40px;
	width: 95px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: lighter;
	letter-spacing: 2px;
	opacity: 0.8;
	border-line: solid;
	border-color: black;
}

.input-btn-ontop:hover {
	border-radius: 3px;
	background-color: #FD9AB9;
	color: black;
	height: 40px;
	width: 95px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: lighter;
	letter-spacing: 2px;
	opacity: 0.8;
	border-line: solid;
	border-color: black;
}

.request-btn{
  border-radius: 5px;
  padding: 10px 15px;
  background-color: green;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 2px;
  opacity: 0.8;
  border-line: solid;
  border-color: black;
  margin-right: 10px;
  color: white;
}

.request-btn-red{
  border-radius: 5px;
  padding: 10px 15px;
  background-color: red;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 2px;
  opacity: 0.8;
  border-line: solid;
  border-color: black;
  margin-right: 10px;
  color: white;
}

.request-btn:hover {
  border-radius: 3px;
  color: black;
  height: 40px;
  width: 95px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 2px;
  opacity: 0.8;
  border-line: solid;
  border-color: black;
  text-decoration: none;
}

.request-btn-red:hover {
  border-radius: 3px;
  color: black;
  height: 40px;
  width: 95px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 2px;
  opacity: 0.8;
  border-line: solid;
  border-color: black;
  text-decoration: none;
}

.gray-button{
	border-radius: 3px;
	background-color: #D2D3D8;
	color: black;
	width: 120px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: lighter;
	letter-spacing: 2px;
	opacity: 0.8;
}

.gray-button:hover{
	opacity: 1;
	box-shadow: 3px;
}
.info-banner-button{
	border-radius: 3px;
	background-color: #2b2b2b;
	color: white;
	width: 180px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
	opacity: 0.9;

}

.info-banner-button:hover{
	// background-color: #2b2b2b;
	color: white;
	width: 180px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
	opacity: 1;
}


.secondary-btn {
	background-color: #DE7F7F;
	text-align: center;
	padding: 10px 0px 0px 0px;
	border-radius: 3px;
	width: 150px;
	height: 40px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
}

.secondary-btn:hover {
	background-color: #302F2B;
}

.item-show-button{
	border-radius: 5px;
	background-color: #505051;
	color: #DE7F7F;
	height: 30px;
	width: 95px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: lighter;
	letter-spacing: 2px;
	opacity: 0.8;
	border-line: solid;
	border-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.item-show-button:hover{
	border-radius: 5px;
	background-color: #505051;
	color: #DE7F7F;
	height: 30px;
	width: 95px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: lighter;
	letter-spacing: 2px;
	opacity: 0.3;
	border-line: solid;
	border-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.request-booking-btn{
	background-color: black;
	border-radius: 3px;
	color: white;
	height: 30px;
	width: 153px;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	letter-spacing: 2px;
	position: absolute;
	bottom: 10px;
	margin-left: 4px;
}


.request-booking-btn:hover{
	background-color: #fd9ab9;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	letter-spacing: 2px;
}


.request-purchase-btn{
	background-color: black;
	border-radius: 3px;
	color: white;
	height: 30px;
	width: 153px;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	letter-spacing: 2px;
	position: absolute;
	bottom: 10px;
	margin-top: 30px;
	width: 100%;
}

.request-purchase-btn:hover{
	background-color: #fd9ab9;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	letter-spacing: 2px;
}
// .booking_start_date .form-control .flatpickr-input{
// 	margin: 30px;
// 	width: 40px !important;
// }


