
.secondary-btn {
	background-color: #DE7F7F;
	text-align: center;
	padding: 10px 0px 0px 0px;
	border-radius: 3px;
	width: 150px;
	height: 40px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
}

.secondary-btn:hover {
	background-color: #302F2B;
}