  .month-calendar {
  font-size: 12px;
}

.simple-calendar {
  width: 100%;
  height: 100%;
}

.calendar-heading {
font-weight: bold;
  .fa-caret-left {
  color: black;
  }
  .fa-caret-right {
  color: black;
  }
}

.calendar-container {
  margin: 10px;
}

.calendar-page-container {
  display: flex;
  justify-content: center;
}

.drop-down-see-item {
  display: flex;
  justify-content: space-between;
}


.dropdown-div {
  margin: 0px 0px;
}

#dLabel {
 background-color: #fd9ab9;
 border: none !important;
 color: white;
  padding: 10px 10px;
}


.calendar-view-item-button {
  margin: 0px 0px;
  padding: 10px 10px;
  background: #fd9ab9;
  border-radius: 3px;
  a {
  color: white;
  text-decoration: none;
  }
}

.tab-content {
  margin: 20px 10px;
}


.btn-primary {
  background: none;
  border: none;
  color: #D3D3D4;
}

.btn-primary:hover {
  background: none;
  border: none;
  color: #FD9AB9;
}

