.cards-container{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  justify-content: space-between;
}

.card-image{
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
}

.group-card-image{
  height: 150px;
  width: 350px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.card-description{
  font-size: 12px;
  font-weight: lighter;
}

.card-description h3{
  font-size: 14px;
  font-weight: 10px;
  font-family: 'Montserrat', sans-serif;
}

.card{
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 8px;
  padding: 5px;
  transition: .3s;
}


.card:hover{
  // border-style: solid;
  // border-width: thin;
  // border-color: #e5e5e8;
  // margin: 7px;
  transform: scale(1.03);
}

.card-link {
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
  height: 10px;
}

.influencer-card-image{
  height: 190px;
  width: 210px;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
}


// .group-card {
//   height: 200px;
//   width: 350px;
//   text-shadow: 0 1px 3px rgba(0,0,0,0.6);
//   background-size: cover !important;
//   background-position: center;
//   color: white;
//   position: relative;
//   border-radius: 4px;
//   overflow-x: scroll;
//   margin-bottom: 45px;
// }


// .items-text{
//   font-size: 12px;
// }

// .items-text h3{
//   font-size: 14px;
//   font-weight: 10px;
//   font-family: 'Montserrat', sans-serif;
// }

// .item:hover{
//   cursor: pointer;
//   border-style: solid;
//   border-width: thin;
//   border-color: #e5e5e8;
// }

// .card-description h2 {
//   font-size: 24px;
// }
// .card-description p {
//   font-size: 14px;
//   opacity: 0.7;
//   font-weight: lighter;
// }

// .card-description i {
//   position:relative;
// }


// .card-description {
//   position: absolute;
//   bottom: 10px;
//   left: 10px;
// }
// .card-user {
//   position: absolute;
//   right: 10px;
//   top: 10px;
//   width: 40px;
//   border-radius: 50%;
// }
// .card-category {
//   position: absolute;
//   top: 10px;
//   left: 10px;
//   font-size: 12px;
//   text-transform: uppercase;
// }

// .clothing_container {
//   display: flex;
// }

// .infl_container {
//   display: flex;
//   flex-direction: column;
// }
