.cards-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: scroll;
  overflow-y: hidden;
}

.card-image{
  width: 150px;
  height: 170px;
  min-width: 160px;
  margin: 10px 10px 0 10px;
  padding-bottom: 10px;
  border-bottom: solid;
  border-width: 1px;
  border-color: #F2F2F2;
  border-radius: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.group-card-image{
  height: 150px;
  width: 350px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.card-description{
  font-size: 10px;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  padding: 0px 10px;
}

.card-description p{
  font-size: 9px;
}

.card-description h3{
  font-size: 12px;
  font-weight: 10px;
  font-family: 'Heebo', sans-serif;
  margin-bottom: 4px;
  padding-bottom: 4px;
  margin-top: 5px;
}

.card-boot {
  padding: 0;
}

.card{
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 8px;
  padding: 5px 5px 10px 5px;
  transition: .3s;
  border-style: solid;
  border-width: 1px;
  border-color: #f2f2f2;
  border-radius: 4px;
  width: 195px;
  height: 270px;
}


.card:hover{
  transform: scale(1.03);
}

.card-link {
  top: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  z-index: 2;
  background: black;
  opacity: 0;
  height: 10px;
}

.influencer-card-image{
  height: 190px;
  width: 230px;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  opacity: 0.8;
}

.influencer-card{
  border-style: solid;
  border-width: 1px;
  border-color: #E0E0E0;
  border-radius: 4px;
  padding: 10px 13px 20px 13px;
  margin: 0px 10px;
}
