.container-item-show {
  display: flex;
  justify-content: center;
  margin: 2%;
}


.image-item-show-page {
  width: 200px;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: 5%;}


.item-description {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%;
  h1 {
    margin-bottom: 5px;
    margin-top: 0px;
  }
  p {
    margin: 5%;
  }
}

.mapsize {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 5%;
}
