.container-results-main {
  h2 {
    margin-left: 30px;
  }
  // margin-left: 20px;
  // margin-right: 20px;
  ;
}

.container-results {
  // display: flex;
  padding: 20px;
  ;
}

// .map-results {
//   flex: 0 0 450px;
//   height: 100vh;
//   position: sticky !important; /* !important to override Gmaps inline CSS */
//   top: 0 !important;
// }

.map-index {
  position: sticky;
  top: 20px;
  bottom: 125px;
  right: 0;
  #map{
    position: absolute;
    margin: 0 auto;
  }
}

.card-results{
  // display: flex;
  // flex-direction: column;
  // position: relative;
  margin: 0 10px;
  padding: 3px;
  transition: .3s;
}


.card-results:hover{
  // border-style: solid;
  // border-width: thin;
  // border-color: #e5e5e8;
  // margin: 7px;
  transform: scale(1.03);
}

.card-results-link {
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
  height: 10px;
}
