.container {
  h2 {
    font-size: 28px;
    font-weight: bold;
  }
}

.image-item-show-page {
  width: 50vh;
  height: 50vh;
  margin-top: 10px;
}


.mapsize {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 20%;
}
