.dash-container{
	display: flex;
	flex-direction: row;
}

.dash-menu{
	display: flex;
	flex-direction: column;
}

.dash-header{
 	font-size: 18px !important;
	color: #373737;
	font-family: 'Heebo', sans-serif !important;
}

.name-item {
  text-decoration: none !important;
  color: black;
}

.name-item:hover {
  text-decoration: none !important;
  color: black;
}

.listing-status-items {
  font-size: 16px;
}

