.footer {
  background: #FDFFF9;
  background: #2F3030;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  width: 100%;
  border-top: solid;
  border-width: thin;
  border-color: #e5e5e8;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  position: static;
  bottom: 0;
  margin-top: 20px;
}

.footer-links {
  display: flex;
  align-items: left;
  font-size: 9px;
}
.footer-links a {
  // color: black;
  color: #fdfff9;
  opacity: 0.15;
  text-decoration: none;
  font-size: 10px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-copyright{
  display: flex;
  vertical-align: buttom;
  font-size: 14px;
  color: #dddddd;
}

#fl1{
  display: flex;
  flex-direction: column;
}

#fl2{
  display: flex;
  flex-direction: column;
}

#fl3{
  font-size: 9px;
  color: rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  align-items: buttom;
  justify-content: center;
  margin: 15px;
}

#fl3 a{
  color: #fdfff9;
  opacity: 0.15;
  text-decoration: none;
  font-size: 10px;
  padding: 0px 10px;
}

#fl3 a:hover {
  opacity: 1;
}

