.form_style {
  font-size: 14px;
  height: 25px;
  width: 100px;
  margin: 1px 0px 0px 1px;
}

.filter-btns {
  padding-left: 5px;
  height: 25px;
}

#filter-button {
  margin-left: 5px;
  height: 25px;
  font-size: 12px;
  border-radius: 10%;
}

input.flatpickr-input.form-control.input {
  width: 100px;
  background-color: white;
  height: 20px;
  font-size: 12px;
}

.input-group-results #end_date_search{
  width: 100px;
  background-color: white;
  font-size: 12px;
  color: gray;
}

.custom-inline-form {
  display: flex;
  height: 25px;
}
