.form_style {
  font-size: 14px;
  height: 25px;
  width: 100px;
  margin: 1px 0px 0px 1px;
}

.filter-btn {
  padding-left: 5px;
  height: 25px;
}


.item-results-submit-button {
  padding-left: 12px;
  display: flex;
  height: 25px;
}


.custom-inline-form {
  display: flex;
  height: 25px;
}
