.page-header-h2 {
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
  font-weight: lighter;
}

.icon-comments{
	font-size: 12px;
	color: gray;
}

.icon-text{
	font-size: 12px;
}

.icon-stars{
	font-size: 12px;
	color: #ffe74c;
}

