// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "banner";
@import "card";
@import "footer";
@import "buttons";
@import "date_form";
@import "form_style";
@import "calendar";
@import "booking_status";
@import "input-bar";
@import "google-map";
@import "item-show";
@import "item-results";
@import "new-booking";
@import "messages";
@import "orders-summary";
@import "payments-summary";
@import "your_order";
@import "home_page";

body{
  background-color: #ffffff;
}

.p-new{
	font-size: 12px;
}



label {
	font-size: 16px;
	font-family: 'Heebo', sans-serif;
	color: #373737;
	padding: 0px;
	font-weight: lighter;
}

.container-min-height {
  min-height: 80vh;
  padding: 20px;
}
