// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "banner";
@import "card";
@import "headers";
@import "footer";
@import "buttons";
@import "container-item-show";
@import "date_form";
@import "back_links";
@import "form_style";
@import "booking_status";



body{
  background-color: #ffffff;
}

.p-new{
	font-size: 12px;
}

.new-header{
	font-size: 20px;
	text-decoration: underline;
}
