.input-bar{
	width: 200px;
	height: 30px;
	font-size: 12px;
	color: #232323;
	margin: 0px 6px 0px 6px;
}

label{
	font-size: 16px;
	font-family: 'Heebo', sans-serif;
	color: #373737;
	padding: 0px;
	font-weight: lighter;
}

.edit-user-name-and-email{
	display: flex;
	flex-direction: row;
}

.edit-user{
	display: flex;
	flex-direction: column;
}

.details-container-two p{
	font-size: 12px;
	color: #373737;
} 

.details-container h2{
 	font-size: 16px;
	color: #373737;
	font-family: 'Heebo', sans-serif;
}

.header-editu {
	font-size: 16px !important;
	color: #373737;
	font-family: 'Heebo', sans-serif;
}

.sign-up-details-container{
	display: flex;
	flex-direction: row;
}

.details-container{
	display: flex;
	align-content: center;
	justify-content: space-between;
}

.details-container a{
	color: black;
	margin-bottom: 10px;
}

.back-link{
	font-size: 10px;
	color: #373737;
}

.edit-user-image{
	height: 40vh;
	border-radius: 3px;
	margin: 10px 60px 0 0px;
	opacity: 0.8;
}

.sign-up-image{
	height: 40vh;
	border-radius: 3px;
	margin: 10px 60px 0px 150px;
	opacity: 0.6;
}

.datebar {
	width: 100px;
	height: 20px;
	border-style: none;
	font-size: 12px;
}

.booking_start_date .form-control-label{
	font-size: 12px;	
}

.booking_end_date .form-control-label{
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
}

.flatpickr-input{
	font-size: 12px;

}

#end_date{
	height: 25px;
	margin: 0px 0px 5px 5px;
	background-color: transparent;
	font-size: 12px;
	color: #717373;
	font-family: 'Montserrat', sans-serif;
}

.booking_start_date .flatpickr-input {
	height: 25px;
	margin: 0px 0px 5px 5px;
	background-color: transparent;
	color: #717373;
}

// #new_booking .booking_end_date {
// 	margin-left: px;
// }

.calendar-container {
	display: flex;
	flex-direction: row;
}

.calendar-container p {
	font-size: 12px;
}