.input-bar{
	width: 240px;
	height: 30px;
	font-size: 12px;
	color: #232323;
  margin-right: 50px;
}


.details-container-two {
	font-size: 12px;
	color: #373737;
  	padding-top: 20px;
  	padding-bottom: 20px;
}

.details-container h2{
 	font-size: 16px;
	color: #373737;
	font-family: 'Heebo', sans-serif;
}

.modal-title{
	padding-top: 5px;
	font-size: 22px;
	color: #373737;
	font-family: 'Heebo', sans-serif;
}

.header-editu {
	font-size: 16px !important;
	color: #373737;
	font-family: 'Heebo', sans-serif;
}

.sign-up-details-container{
	display: flex;
	flex-direction: row;
}

.details-container{
	display: flex;
	align-content: center;
	justify-content: space-between;
  width: 90%;
  height: 90%;
}

.details-container a{
	color: black;
	margin-bottom: 10px;
}

.back-link{
	font-size: 10px;
	color: #373737;
}

.edit-user-image{
	height: 50vh;
  width: 100%;
	border-radius: 3px;
  opacity: 0.9;
}

.sign-up-image{
	height: 50vh;
	border-radius: 3px;
	margin: 30px 10px 10px 10px;
	opacity: 0.8;
}

.datebar {
	width: 100px;
	height: 20px;
	border-style: none;
	font-size: 12px;
}

.booking_start_date .form-control-label{
	font-size: 12px;
}

.booking_end_date .form-control-label{
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
}

.flatpickr-input{
	font-size: 12px;

}

.item-date-inline {
  display: flex;
  i {
    z-index: 3;
    color: rgb(100,100,100);
    font-size: 12px;
    margin-top: 3px;
  }
}

input.form-control.string.optional.flatpickr-input.input {
  font-size: 12px;
  border-radius: 5px;
  margin-left: 6px;
  width: 117px;
  height: 29px;
  background-color: white;
}

input.form-control.string.optional.flatpickr-input.input::placeholder {
  color: rgb(0,0,0);
}

input#available_end_date.form-control.string.optional {
  font-size: 12px;
  color: rgb(0,0,0);
  border-radius: 5px;
  margin-left: 6px;
  width: 117px;
  height: 29px;
  background-color: white;
}

input#available_end_date.form-control.string.optional::placeholder {
  color: rgb(0,0,0);
}

.flatpickr-style {
  width: 200px;
  background-color: rgb(255,255,255);
}

#end_date{
	height: 25px;
	margin: 0px 0px 5px 5px;
	background-color: transparent;
	font-size: 12px;
	color: #717373;
	font-family: 'Montserrat', sans-serif;
}

// .booking_start_date .flatpickr-input {
// 	height: 25px;
// 	width: 150px !important;
// 	margin: 0px 0px 5px 5px;
// 	background-color: transparent;
// 	color: #717373;
// }

.calendar-container {
	display: flex;
	flex-direction: row;
}

.calendar-container p {
	font-size: 12px;
} a {
  color: #616668
}
