.item-show-owner-review-link{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.item-show-owner-review-link a:hover{
  color: #fd9ab9;
  text-decoration: none;
}

.item-show-ratings p{
  margin-bottom: 0px;
  font-size: 11px;
}

.item-show-reviews-content p:last-child{
  padding-bottom: 10px;
}

.item-show-reviews-content p{
  color: #717373;
}

.item-show-reviews-content h3{
  margin-bottom: 0px;
  margin-top: 5px;
  font-size: 11px;
}

.container-item-show {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 5px;
  min-height: 400px;
  justify-content: center;

}

.item-show-links {
  display: flex;
  justify-content: center;
	align-items: center;
	color: gray !important;
  border-bottom: 1px solid #eeeeee;
}

.item-show-links a:hover{
	color: #FD9AB9 !important;
	text-decoration: none;
}

.map_and_itemdescription{
	display: flex;
	flex-direction: column;
	font-size: 12px;
  margin-top: 40px;
}

.item-show-card{
  display: flex;
  position: relative;
  margin: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 140px;
  padding: 20px;
  transition: .3s;
  height: 60vh;
  width: 50vh;
  background-position: center;
  background-size: cover;
}


.item-show-card:hover{
	transform: scale(1.03);
}

.item-description {
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  h1 {

    margin-top: 0px;
    margin-bottom: 10px;
    text-align: left;
    padding: 5px 0px 5px 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    color: black;
    font-size: 18px;
  }
}

.item-show-buying-renting{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 20px 30px 0px 5px;
  padding-left: 15px;
}

.item-show-buying-renting p{
  font-size: 10px;
}

.item-show-buying-renting h1{
  font-size: 18px;
}


.item-show-details{
	display: flex;
	margin: 1px;
  margin-bottom: 15px;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0px 0px 0px ;
  border: 1px solid #eeeeee;
  border-radius: 6px;
  padding-bottom: 20px;
}

.mapsize {
  margin-top: 10%;
  margin-bottom: 10%;
}

.item-show-influencer-box{
	border-style: solid;
	border-width: 1px;
	max-width: 590px;
	padding: 5px 5px 30px 5px;
	border-color: #dddddd;
	h2{
		font-size: 12px;
		font-weight: 600;
		font-family: 'Raleway', sans-serif !important;
	}
	h3{
		font-size: 16px;
		font-weight: bold;
		font-family: 'Raleway', sans-serif;
	}
}

.container {
  min-height: 80vh;
  padding: 20px;
  h2 {
    font-size: 28px;
    font-weight: bold;
  }
}

.image-item-show-page {
  width: 50vh;
  height: 50vh;
  margin-top: 10px;
}


.mapsize {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 20%;
}

.toggle.android {
 border-radius: 0px;
 float: right;
}


.toggle.android .toggle-handle {
 border-radius: 0px;
}

.toggle.btn {
  min-width: 50px !important;
  min-height: 19px !important;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 2px 14px;
    font-size: 10px;
    line-height: 1.428571429;
    border-radius: 6px !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.purchase-button {
   display: block;
}

.hide-form {
  display:none !important;
}

.tabs{
  margin-left: 10px;
  margin-top: 10px;

}

.dry-clean-tag{
  font-size: 10px;
  margin-bottom: 0px;
}

.booking-buying-tab{
  display: flex;
  margin-bottom: 8px;
}

#booking-tab{
  margin-left: 10px;
  // background-color: #2f3030;
  padding-top: 5px;
  text-align: center;
  width: 100px;
  color: #2f3030;
  font-family: 'Heebo', sans-serif !important;
  // border-style: solid;
  // border-width: 1px;
  // border-radius: 8px 0px 0px 0px;
}

#item-show-p{
  font-family: 'Heebo', sans-serif !important;
  font-weight: lighter;
}


#buying-tab{
  // background-color: #2f3030;
  color: white;
  padding-top: 5px;
  text-align: center;
  width: 100px;
  color: #2f3030;
  font-family: 'Heebo', sans-serif !important;
  // border-style: solid;
  // border-width: 1px;
  // border-radius: 0px 8px 0px 0px;
}

#buying-tab p{
  font-size: 11px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

#booking-tab p{
  font-size: 11px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

#buying-tab:hover{
  text-decoration: none;
  opacity: 0.9;
  color: #fd9ab9;
  margin-bottom: -2px;
  border-bottom: 2px solid #fd9ab9;
}


#booking-tab:hover{
  text-decoration: none;
  opacity: 0.9;
  color: #fd9ab9;
  margin-bottom: -2px;
  border-bottom: 2px solid #fd9ab9;
}


.tabactive{
  color: white;
  opacity: 0.3;
}


.buy{
  margin-top: 5px;
}

.item-show-dry-cleaning {
  float: right !important;
}

#myDIV {
  margin-bottom: 30px;
}

.item-show-shipping{
  float: right;
}

.form-wrapper{
  position: relative;
  width: 100%;
}

.map-border{
  margin: 7px;
}

.all-tabs-content{
  margin-top: 10px;
}

.booking_start_date input {
  font-size: 12px;
  height: 30px !important;
  width: 151px !important;
  margin-left: 5px;
  margin-bottom: 4px;
  margin-top: 0px;
  background-color: white !important;
}
