.container-results-main {
  h2 {
    margin-left: 30px;
  }
}



.map-index {
  position: sticky;
  top: 10px;
  bottom: 125px;
  right: 0;
  #map{
    position: absolute;
    margin: 0 auto;
  }
}

@media(max-width: 720px) {
  .map-index {
    height: 400px;
  }
  #map{
    height: 200px;
  }
}

.card-results{
  // display: flex;
  // flex-direction: column;
  // position: relative;
  margin: 0 10px;
  padding: 3px;
  transition: .3s;
}


.card-results:hover{
  // border-style: solid;
  // border-width: thin;
  // border-color: #e5e5e8;
  // margin: 7px;
  transform: scale(1.03);
}

.card-results-link {
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
  height: 10px;
}

.card-image-results {
  padding-top: 20px;

}

.card-image-index {
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
}
