
.container-item-show {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 5px;
  min-height: 400px;
  justify-content: center;

}

.item-show-links {
  display: flex;
  justify-content: center;
	align-items: center;
	color: gray !important;
  border-bottom: 1px solid #dddddd;


}

.item-show-links a:hover{
	color: #FD9AB9 !important;
	text-decoration: none;
}

.map_and_itemdescription{
	display: flex;
	flex-direction: column;
	font-size: 12px;
  margin-top: 40px;
}

.item-show-card{
  display: flex;
  position: relative;
  margin: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 140px;
  padding: 10px;
  transition: .3s;
  height: 60vh;
  width: 50vh;
  // crop: fill;
  background-position: center;
  background-size: cover;
}

.item-show-card:hover{
	transform: scale(1.03);
}

.item-description {
// border-radius: 4px;
  margin-right: 5%;
  // border-style: solid;
  // border-color: #dddddd;
  // border-width: 1px;
  display: flex;
  flex-direction: column;
  h1 {

    margin-top: 0px;
    // background-color: #fd9ab9;
    margin-bottom: 10px;
    text-align: left;
    padding: 5px 0px 5px 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    color: black;
    font-size: 18px;
    // border-style: solid;
    // border-width: 1px;
    // border-color: #dddddd;
    // border-radius: 3px;
  }
}

.item-show-buying-renting{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0px 30px 0px 5px;
} 


.item-show-details{
	display: flex;
	margin: 1px;
  margin-bottom: 30px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px 0px 0px ;
}

.mapsize {

  margin-top: 10%;
  margin-bottom: 10%;
  // margin-left: 10%;
}

.item-show-influencer-box{
	border-style: solid;
	border-width: 1px;
	max-width: 590px;
	padding: 5px 5px 30px 5px;
	border-color: #dddddd;
	h2{
		font-size: 12px;
		font-weight: 600;
		font-family: 'Raleway', sans-serif !important;
	}
	h3{
		font-size: 16px;
		font-weight: bold;
		font-family: 'Raleway', sans-serif;
	}
}

.container {
  min-height: 80vh;
  padding: 20px;
  h2 {
    font-size: 28px;
    font-weight: bold;
  }
}

.image-item-show-page {
  width: 50vh;
  height: 50vh;
  margin-top: 10px;
}


.mapsize {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 20%;
}

.toggle.android {
 border-radius: 0px;
 float: right;
}


.toggle.android .toggle-handle {
 border-radius: 0px;
}

.toggle.btn {
  min-width: 50px !important;
  min-height: 19px !important;
  // margin-bottom: 5px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 2px 14px;
    font-size: 10px;
    line-height: 1.428571429;
    border-radius: 6px !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.purchase-button {
   display: block;
}

.hide-form {
  display:none !important;
}

.tabs{
  margin-left: 10px;
  margin-top: 10px;

}

.booking-buying-tab{
  display: flex;
}

#booking-tab{
  margin-left: 10px;
  background-color: #2f3030;
  padding-top: 5px;
  text-align: center;
  width: 100px;
  color: white;
  font-family: 'Raleway', sans-serif !important;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px 0px 0px 0px;
}

#item-show-p{
  font-family: 'Raleway', sans-serif !important;
  font-weight: lighter;
}


#buying-tab{
  background-color: #2f3030;
  color: white;
  padding-top: 5px;
  text-align: center;
  width: 100px;
  color: white;
  font-family: 'Raleway', sans-serif !important;
  border-style: solid;
  border-width: 1px;
  border-radius: 0px 8px 0px 0px;
}


#buying-tab:hover{
  text-decoration: none;
  opacity: 0.7;
}

#booking-tab:hover{
  text-decoration: none;
  opacity: 0.7;
}


// #buying-tab.tabactive {
//   opacity: 0.4;
//   color: white;
// }

.tabactive{
  // background-color: black;
  color: white;
  opacity: 0.3;
}

// #booking-tab.tabactive {
//   opacity: 0.4;
//   color: white;
// }


.buy{
  margin-top: 5px;
}

.item-show-dry-cleaning {
  float: right;
}

#myDIV {
  margin-bottom: 30px;
}

.item-show-shipping{
  float: right;
}

.form-wrapper{
  position: relative;
  width: 100%;
}

.map-border{
  margin: 7px;
}

.all-tabs-content{
  margin-top: 10px;
}
