.message-box{
	display: flex;
	margin-left: 5px;
	align-content: center;
	border-style: solid;
	border-width: 1px;
	width: 500px;
	height: 50px;
	border-radius: 5px;
	margin-top: 10px;
	padding: 10px;
	border-color: #bfc3c7;
}

.h2messages{
	font-size: 20px;
	font-family: 'Quicksand', sans-serif;
	margin-left: 20px;
}

.message-box p{
	font-size: 14px;
}

.message-box a{
	font-color: red;
}

.message-container{
 	min-height: 500px;
 	margin-left: 12px;
 	display: flex;
 	flex-direction: row;

}

.new-convo-link {
	height: 80px;
	width: 200px;
	color: gray;
	font-size: 14px;
	size: 4px;
}

.new-convo-link:hover{
	color: red;
	opacity: 0.5 !important;
	text-decoration: none;
}

.message-link{
	color: red !important;
}



.message-image{
	height: 40vh;
	width: 60vh;
	border-radius: 4px;
	opacity: 0.8;
	margin-top: 10px;
	margin-left: 80px;
}
