/* Main navbar */
.navbar-ufo {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  // background: #FDFFF9;
  background: #2F3030;
  transition: all 0.3s ease;
  height: 80px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* Logo */
.navbar-ufo-brand img {
  height: 30px;
  margin-left: 15px;
  margin-bottom: 11px;
}

/* User Avatar */
.navbar-ufo .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-ufo-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-ufo-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-ufo-link {
  color: #616668;
  font-size: 12px;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 23px;
  border-bottom: solid 0.1px transparent;
  transition: color 0.4s ease-in-out;
}
.navbar-ufo-link:hover {
  color: #dddddd;
  text-decoration: none;
  border-bottom: solid 1.5px #9595a0;
  display: inline;
  border-color: #FD9AB9;
}

.navbar-ufo-link:active {
  color: #dddddd;
  text-decoration: none;
  border-bottom: solid 1.5px #9595a0;
  display: inline;
  border-color: #FD9AB9;
}

.navbar-ufo-link:visited {
  text-decoration: none;
}


/* Dropdown menu */
.navbar-ufo-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 3px #616667;;
  border-color: #616667;
  background-color: #2f3030;
}
.navbar-ufo-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
  font-size: 11px !important;
}
.navbar-ufo-dropdown-menu li > a:hover {
  background: transparent !important;
  color: #dddddd !important;
}

.navbar-ufo-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: #2f3030;
  transform: rotate(45deg);
  border-left: 1px solid #616667;
  border-top: 1px solid #616667;
}

.navbar-logo-search {
  display: flex;
  align-items: center;
}

.ufo-logo {
  position: absolute;
  bottom: 10px;
  left: 15px;
  margin-right: 5px;
}

.navbar-search .form-control {
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid #616667;
  opacity: 0.6;
  margin-left: 0px;
  width: 240px;
  font-size: 12px;
}

.navbar-search {
  margin-left: 70px;
}

.search-icon{
  color: gray;
}

.navbar-form-control:focus {
  outline: none !important;
  box-shadow: none;
  border-color: transparent;
  border-bottom: 1px solid #616667;
}

.navbar-form-control {
  border-bottom: 1px solid #fff9;
  color: #fd9ab9;
  font-size: 14px;
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #616667;
  color: #fd9ab9;
  width: 250px;
  padding-left: 22px;
  margin-top: 15px;
  margin-right: 20px;
  font-family: 'Heebo', sans-serif;
  font-weight: lighter;

}

.what-item{
  position: relative;
}

.search-icon{
  position: absolute;
  color: #616667;
  top: 32px;
}

.search-bar-in-nav{
  display: flex;
}

//
