.image-container{
	display: flex;
	flex-direction: row;
	margin-left: 20px;
}

.new-booking-image-card{
  height: 400px;
  min-width: 300px;
  background-position: center;
  border-radius: 2px;
  margin-left: 20px;
}

.new-booking-h2{
	font-family: 'Heebo', sans-serif;
	font-size: 14	px;
	margin-left: 20px;
	font-color: #41D3BD !important;
}

.bookings-dates-bar{
	margin-bottom: 5px;
	display: flex;
	flex-direction: row;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	padding: 5px;
	background-color: #FDFFF9;
}

.booking-input-bar{
	display: flex;
	flex-direction: row;
	width: 200px;
	height: 30px;
	font-size: 12px;
	color: #232323;
}

.new-booking-link{
	font-size: 12px;
	color: black;
	margin-left: 30px;
}

.request-booking-box{
	margin: 0px 10px;
	width: 200px;
	height: 200px;
	border-style: solid;
	border-color: #DDDDDD;
	border-radius: 4px;
	padding: 10px;
	border-width: 1px;
	display: flex;
}


.request-booking-box i:last-child{
	padding-top: 0px !important;
	padding-bottom: 5px;
}

.request-booking-box p{
	font-size: 11px;
	font-family: 'Heebo', sans-serif;
}

.request-buying-box{
	margin: 0px 10px;
	width: 200px;
	height: 150px;
	border-style: solid;
	border-color: #DDDDDD;
	border-radius: 2px;
	padding: 10px;
	border-width: 1px;
	display: flex;
}

.request-buying-box label{
	font-size: 11px;
	font-family: 'Heebo', sans-serif;
	padding-right: 30px !important;
	padding-bottom: 4px;
	padding-top: 2px;
}


.calendar-icon{
	margin-bottom: 5px;
}

.input-group {
	position: relative;
}

.request-booking-box .item-show-calendar-icon-top {
    position: absolute;
    top: 10px;
    right: 10%;
    color: gray;
    z-index: 13;
}

.request-booking-box .item-show-calendar-icon-top {
    position: absolute;
    top: 10px;
    right: 10%;
    color: gray;
    z-index: 13;
}

.request-booking-box .item-show-calendar-icon-bottom {
    position: absolute;
    top: 7px;
    right: 10%;
    color: gray;
    z-index: 13;
}
