.user-show-container{
	min-height: 600px;
	display: flex;
	flex-direction: column;
	padding: 50px;
}

.user-show-profile-details{
	display: flex;
}

.user-show-avatar{
	border-radius: 50%;
	width: 30vh;
	height: 30vh;
	margin: 30px;
	vertical-align: middle;
	// background-size: cover;
 //  	background-position: center;
}

.user-show-ratings-box{
	padding-top: 0px;
	margin-bottom: 5px;
	display: flex;
	align-items: center;
	font-size: 12px;
} 	

.user-show-details-box{
	display: flex;
	flex-direction: column;
}

.user-show-names-box{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #dddddd
}

.user-show-names-box h3{
	margin-bottom: 5px;
}

.user-show-names-box h3{
	padding: 0px 20px 0px 0px;
}